.list {
  display: flex;
  flex-wrap: wrap;

  gap: 8px;

  list-style: none;
}

.item {
  width: 600px;
  display: flex;
  flex-direction: column;

  padding: 5px;
  border: 1px solid rgba(102, 8, 8, 0.4);
 
  border-radius: 5px;
}

.author {
  font-weight: 800;
}
