.nav {
  display: flex;
  gap: 16px;
  padding: 5px;
 border-radius: 5px;
  /* box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1); */
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.4));
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5)
}

.link {
  color: black;
  text-decoration: none;

  border-radius: 5px;
  transition: color 0.2s 0.1s;

  &:hover {
    text-decoration: underline;
    color: orangered;
  }
}

.active {
  color: rgba(179, 1, 1, 0.8);
}
