.wraper {
  display: flex;
  gap: 8px;
  
  flex-wrap: wrap;
}

.item_wrap {
  display: flex;
  gap: 8px;
  width: 600px;

  border: 1px solid rgba(102, 8, 8, 0.4);
  border-radius: 5px;
  overflow: hidden;
}
